<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015375405539-unbutpqiagse3va3lmq2cj22k8gs3f9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015375405539-unbutpqiagse3va3lmq2cj22k8gs3f9k</string>
	<key>API_KEY</key>
	<string>AIzaSyC56bIMF7Fz41YlDTU_NQ4x_6hSGITZvW4</string>
	<key>GCM_SENDER_ID</key>
	<string>1015375405539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touchApp</string>
	<key>PROJECT_ID</key>
	<string>touch-69bee</string>
	<key>STORAGE_BUCKET</key>
	<string>touch-69bee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015375405539:ios:007219073316c1fac300d6</string>
</dict>
</plist>